Hello

Basic data type

In [27]:
## gan gia tri va in ra gia tri
int_var=5
int_var

5

In [28]:
## kiem tra kieu du lieu cua 1 so
type(int_var)

int

In [4]:
6+5+3*2

11

In [5]:
## chia lay nguyen
80//7

11

In [9]:
## noi chuoi
"Hello"+" 1"

'Hello 1'

In [14]:
"Hello "* 3 ## nhaan 3 str Hello

'Hello Hello Hello '

In [17]:
## boolean, true=1, false=0
True+False+False+True

2

In [18]:
## true= 1, quy ve int co the nhan voi 1 so
True*4

4

In [19]:
## tra ve kq la so thap phan
True/10

0.1

Logical- Cac phep toan login

In [20]:
#toan tu >=
56>= 57

False

In [21]:
## toan tu == (so sanh)
56==56

True

In [22]:
## so sanh phan biet hoa thuong
"Hello" =="hello"

False

In [23]:
## toan tu and
6>5 and 5>4

True

In [24]:
7>8 and "hello"=="hello"

False

In [25]:
## toan tu or
7>8 or 8<9

True

In [29]:
## toan tu not
not 5>4

False

In [31]:
## chuyen kieu du lieu int sang str
str(int_var)

'5'

In [33]:
## chuyen kieu du lieu chuoi ve so
chuoi="10"
int(chuoi)

10

In [35]:
float_var = 2.5

In [38]:
## chuyen du lieuj float ve int
int(float_var)

2

In [44]:
boxes=17
loaded_boxes=5
empty_box = "Number of empty box "+ str(boxes - loaded_boxes)
empty_box

'Number of empty box 12'

In [45]:
type(empty_box)

str

Variables - bien trong python

In [47]:
apples=15+30+20

In [49]:
bananas=30

In [50]:
total_fruits=apples+bananas
total_fruits

95

In [52]:
salary=1000
expenses=500
savings=salary-expenses
savings

500

In [55]:
length=10.5
width=20
area=length*width
area

210.0

In [56]:
perimeter=2*(width+length)
print(area,perimeter)

210.0 61.0

In [58]:
## noi chuoi
name="Hanh"
lastname="ok"
ten=name+lastname
ten

'Hanhok'

In [63]:
## savings= savings*1.2
savings *=1.2
savings

720.0

In [ ]:
## savings= savings-151.2
savings -=15
savings
## savings =- 15 tuong duong hieu la so am 15, neu la dau * or chia thi bao loi

In [60]:
weekdays=7
weekends=2
day= weekdays-weekends
day

5

## khi khai bao 1 bien ban dau thi can gan luon gia tri cho bien do
## vi trong python, kieu du lieu dong, co the chuyen sang cac kieu du lieu khac nen k can khai bao ban dau, ma co the gan luon gia tri

In [65]:
string1="hello"
string2=" world"
string1+=string2
string1

'hello world'

Define String - dinh nghia chuoi

In [67]:
"Hi, my name is abcd"

'Hello lan 2'

In [68]:
'Hello'

'Hello'

In [70]:
"""Hello lan 2"""

'Hello lan 2'

In [71]:
'He said "I am Calvin"'

'He said "I am Calvin"'

In [72]:
'She said: "I \'m Hanh"'

'She said: "I \'m Hanh"'

In [73]:
print('She said: "I \'m Hanh"')

She said: "I 'm Hanh"

In [74]:
"""This is a super loooo
123, ok ?
098"""

'This is a super loooo\n123, ok ?\n098'

In [79]:
long_str = """This
iis
a 
multiple line"""
print(long_str)

This
iis
a
multiple line

In [1]:
number=input("so: ")
type(number)
number